<div class="card" *transloco="let t">
    <div class="flex flex-row justify-content-start">
        <p-button
        pRipple
        (onClick)="formularios.registrar=true"
        label="{{ t('comandos.registrar.valor', { valor: t('entidades.grupoInvestigacion.singular') }) }}"
        icon="pi pi-user-plus"
        styleClass=""/>
        <div class="mr-auto"></div>
        <p-button
        pRipple
        [disabled]="selectedGrupoInvestigacion==null"
        (onClick)="formularios.editar=true"
        label="{{ t('comandos.editar.verbo') }}"
        icon="pi pi-user-edit"
        class="pr-3"
        styleClass=""/>
        <p-button
        pRipple
        [disabled]="selectedGrupoInvestigacion==null"
        (onClick)="formularios.eliminar=true"
        label="{{ t('comandos.eliminar.verbo') }}"
        icon="pi pi-user-minus"
        class=""
        styleClass=""/>
    </div>
    <p-table
        [value]="gruposInvestigacion"
        selectionMode="single"
        dataKey="id"
        [(selection)]="selectedGrupoInvestigacion"
        [tableStyle]="{ 'min-width': '50rem' }"
        [paginator]="true"
        [rows]="50">
        <ng-template pTemplate="header">
            <tr>
                <th>{{ t('etiquetas.id') }}</th>
                <th>{{ t('etiquetas.nombre') }}</th>
                <th>{{ t('etiquetas.nombreDel', {valor: t('roles.1.singular')}) }}</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-grupoInvestigacion>
            <tr [pSelectableRow]="grupoInvestigacion">
                <td>{{ grupoInvestigacion.id }}</td>
                <td>{{ grupoInvestigacion.nombre }}</td>
                <td>{{ grupoInvestigacion.coordinadorUser ? grupoInvestigacion.coordinadorUser.fullName : "" }}</td>
            </tr>
        </ng-template>
    </p-table>

</div>

<p-dialog *transloco="let t"
    header="{{ t('comandos.registrar.valor', {valor: t('entidades.grupoInvestigacion.singular')}) }}"
    [modal]="true"
    [(visible)]="formularios.registrar"
    [style]="{ width: '40rem' }">
    <grupoInvestigacion-form
        [(visible)]="formularios.registrar"/>
</p-dialog>

<p-dialog *transloco="let t"
    header="{{ t('comandos.editar.valor', {valor: t('entidades.grupoInvestigacion.singular')}) }}"
    [modal]="true"
    [(visible)]="formularios.editar"
    [style]="{ width: '40rem' }">
    <grupoInvestigacion-form
        [formMode]="1"
        [(visible)]="formularios.editar"
        [selectedObject]="selectedGrupoInvestigacion"/>
</p-dialog>

<p-dialog *transloco="let t"
    header="{{ t('comandos.eliminar.valor', {valor: t('entidades.grupoInvestigacion.singular')}) }}"
    [modal]="true"
    [(visible)]="formularios.eliminar"
    [style]="{ width: '40rem' }">
    <grupoInvestigacion-form
        [formMode]="2"
        [(visible)]="formularios.eliminar"
        [selectedObject]="selectedGrupoInvestigacion"/>
</p-dialog>